img {
  width: 100%;
}

.landing, .logged-in {
  position: relative;
  background: url("./img/showcase.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner, .logged-in-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

table.items th, table.items td {
 text-align: center;
}

.btn-group-xs > .btn, .btn-xs {
  padding  : .25rem .4rem;
  font-size  : .875rem;
  line-height  : .5;
  border-radius : .1rem;
}

li.page-item button.current {
  background-color: rgb(180, 198, 238);
}

li.ellipsis {
  margin: 0 .5em;
}

.manual {
  font-size: .8em;
  text-align: justify;
}

.manual span.fn {
  color: blue;
  font-family: monospace;
  font-size: 1.25em;
  font-weight: bold;
  background: #f4f4f4;
}

.manual span.fv {
  color: blue;
  font-family: monospace;
  font-size: 1.25em;
  font-weight: normal;
  background: #f4f4f4;
}

.manual span.cd {
  color: blue;
  font-family: monospace;
  font-size: 1.25em;
  font-weight: normal;
  background: #f4f4f4;
}

/* Modal */

/* The Modal (background) */
.my-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-header {
  background-color: #d42929;
  color: whitesmoke;
}

/* Modal Content/Box */
.modal-content {
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

.reject-button {
  background-color: #d42929; /* Green */
  border: 2px solid whitesmoke;
  border-radius: 5px;
  color: whitesmoke;
  padding: 5px 10px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  font-size: 1em;
}

/* End of Modal */


/* spinner */
.loader {
  position: relative;
  border: 8px solid #95bdf1;
  border-radius: 50%;
  border-top: 8px solid #3453db;
  width: 80px;
  height: 80px;
  left:50%;
  top:50%;
  -webkit-animation: spin .8s linear infinite; /* Safari */
  animation: spin .8s linear infinite;
}
#overlay{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* position: absolute; */
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* end of spinner */

label {
  font-weight: bold;
}

/* current journal row */
tr.current {
  color: blue;
  font-style: oblique;
}

/* operinput */
.search-panel, .oper-input-panel {
  border: 1px solid gray;
  padding: 1rem;
}

.approve-primary-row {
  font-size: .95rem;
  border-top: 3px solid black;
}

.approve-secondary-row {
  font-size: .85rem;
  background-color: ghostwhite;
  color: grey;
}

.approve-validation-row {
  font-size: .85rem;
  color: red;
}

.btn-light.active {
  font-weight: bold;
}

td.controls {
  font-size: .85rem;
}

option.none, select.by-option.none {
  background-color: whitesmoke;
}

option.ok, select.by-option.ok {
  background-color: #adebad;
}

option.return, select.by-option.return {
  background-color: #b3d1ff;
}

option.delete, select.by-option.delete {
  background-color: #ffad99;
}